header {
    display: flex;
}

h1 {
    align-items: center;
    margin: 1em auto 0 auto;
    font-size: 3em;
    font-family: sans-serif;
}

#container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 600px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0 auto 0 auto;
    z-index: 0;
}

#center, #left, #right {
    position: relative;
    display: flex;
    width: 33.333333%;
}

#clouds {
    display: flex;
    position: absolute;
    z-index: 1;
}

#singleCloud {
    position: absolute;
    top: -35px;
    left: -25px;
}

#upperBorder {
    display: flex;
    margin: 0 auto 0 auto;
    position: relative;
    height: 50px;
    width: 604px;
    background-color: white;
    z-index: 1;
    border-bottom: 2px solid black;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

#lowerBorder {
    display: flex;
    margin: 0 auto 0 auto;
    position: relative;
    height: 75px;
    width: 604px;
    background-color: white;
    z-index: 1;
    border-top: 2px solid black;
}

#instructions {
    position: absolute;
    background-color: white;
    opacity: 90%;
    height: 500px;
    width: 600px;
    z-index: 3;
    padding-top: 100px;
}

#hiddenContent {
    position: absolute;
    background-color: white;
    height: 600px;
    width: 600px;
    z-index: 0;
}

#instructions p {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 700;
}

#volume-control {
    display: flex;
    margin-top: 0;
    background-color: black;
    cursor: pointer;
}

#volume {
    margin: auto 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upperBorder a {
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 700;
    margin: auto 0 auto 0;
}

#player1, #player2 {
    cursor: pointer;
}

a {
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 0 2px 0;
    color: black;
}

a:hover, a.active   {
    text-decoration: none;
    border-bottom: 3px solid black;
}

#volumeUp {
    cursor: pointer;
}

#timer {
    display: flex;
    align-items: center;
}

#timer p {
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 700;
    margin: auto 0 auto 0;
}